body {
    padding-top: 10px;
}

[class*="col-"], footer {
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}
table
{
    padding-bottom: 10rem;
}

#effectif
{
    border: 1px solid black;
}

.popup
{
	display: none;
}