{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue</h1>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ex voluptas accusamus soluta reprehenderit in dignissimos quis officia. Exercitationem vero dicta cupiditate minima libero perferendis! Mollitia rem, quos ad accusamus temporibus itaque, asperiores quaerat quam eius quidem commodi cupiditate dignissimos!</p>
<p>Cupiditate illum fugit laudantium aut sequi. Dolore repellendus odio voluptatibus, odit corrupti neque pariatur, quaerat ab placeat error consectetur officiis incidunt dolorum asperiores. Similique nobis nostrum, alias voluptas adipisci, sit ullam quo modi ipsa perspiciatis numquam sed deleniti at tempora?</p>
{% endblock %}