body {
    margin: 1em;
}

#info {
    display: none;
}

.royalblue {
    color: #4169E1;
}

.frenchred {
    color: #EF4135;
}

#questionnaire {
    display: none;
}

.date-publication
{
    font-weight: bold;
}