{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, officiis libero esse deleniti tempore
        numquam, eaque perspiciatis velit culpa nemo quidem maiores atque animi ullam quibusdam accusamus voluptates,
        laboriosam corrupti in? Non quia facilis voluptatum voluptatibus autem repellat, voluptas quis.</p>
    <p>Voluptatem impedit a voluptas architecto pariatur inventore ipsa nam, officia cupiditate explicabo dignissimos
        veritatis odio ipsam iure quos in cumque commodi eaque perspiciatis tempora. Quo sit officia id voluptatem commodi
        voluptatum, optio ratione, natus amet, adipisci expedita numquam consequuntur. Sit!</p>
    <p>Temporibus, molestias officiis. Consequuntur iste obcaecati autem eligendi modi tempore veniam, aliquam consequatur,
        ipsam ea soluta exercitationem repellat numquam nemo! Deserunt, aut quaerat, fuga repudiandae modi obcaecati ratione
        nisi magnam explicabo impedit natus et, laborum aspernatur esse dolores nihil alias.</p>
{% endblock body %}